<!DOCTYPE html>
<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Receipt</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <link href="{{ config.css_file }}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{{ config.template_config.custom_config.ps_domain  }}/shop/foxycart_templates/styles/ps-foxycart-styles.css">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
</head>
<body>
<!-- has to be here because of chrome bug -->
    {% include 'svg.inc.twig' %}

    {% import "utils.inc.twig" as utils %}
{% embed 'receipt.inc.twig' %}
    {% block messaging %}
        {{ parent() }}
        <!-- Order-status link inside the receipt card -->
        <div id="fc-messages" class="fc-receipt__section">
            <div class="fc-alert fc-alert--info">
                <a href="https://www.test.paintscratch.com/support/order-status-check?email={{ customer_email|url_encode }}&order_id={{ order_id|url_encode }}">
                    Check your order status
                </a>
            </div>
        </div>
    {% endblock %}
{% endembed %}

    <!--[if lt IE 9 ]>
        <script src="{{ config.cdn_static_path }}scripts/respond/respond.1.4.2.js" charset="utf-8"></script>
    <![endif]-->
    <!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->
</body>
</html>