<!DOCTYPE html>
<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Receipt</title>
    <link rel="icon" type="image/x-icon" href="https://www.paintscratch.com/content/images/favicons/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <link href="{{ config.css_file }}" rel="stylesheet" media="all">
    <link rel="stylesheet"
          href="{{ config.template_config.custom_config.ps_domain }}/shop/foxycart_templates/styles/ps-foxycart-styles.css?v={{ config.template_config.custom_config.ps_template_version}}">
    <link rel="stylesheet"
          href="{{ config.template_config.custom_config.ps_domain }}/shop/foxycart_templates/styles/ps-foxycart-receipt-styles.css?v={{ config.template_config.custom_config.ps_template_version}}">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
</head>
<body class="ps-foxy">
<!-- has to be here because of chrome bug -->
{% include 'svg.inc.twig' %}

{% import "utils.inc.twig" as utils %}
{% embed 'receipt.inc.twig' %}
    {% block messaging %}
        {{ parent() }}
        <!-- Custom Paintscratch Receipt Page Links -->
        <div class="ps-links-bar">
            {% if order_id and customer_email %}
                <a href="{{ config.template_config.custom_config.ps_domain }}/support/order-status-check?email={{ customer_email|url_encode }}&order_id={{ order_id|url_encode }}"
                   title="View the current status of your PaintScratch order"  target="_blank">
                    Check order status
                </a>
                <a href="#" onclick="window.print(); return false;"
                   title="Print a copy of this receipt for your records">
                    Print receipt
                </a>
            {% endif %}
            <a href="{{ config.template_config.custom_config.ps_domain }}"
               title="Continue shopping at PaintScratch.com" target="_blank">
                Return to shop
            </a>
            <a href="{{ config.template_config.custom_config.ps_domain }}/company/contact-us.php"
               title="Send us a message" target="_blank">
                Contact
            </a>
        </div>
    {% endblock %}
{% endembed %}

<!--[if lt IE 9 ]>
        <script src="{{ config.cdn_static_path }}scripts/respond/respond.1.4.2.js" charset="utf-8"></script>
    <![endif]-->
<!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->
</body>
</html>